@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color : #522258;
    --secondary-color : #8C3061;
    --white: #fff;

    --primary-font: "Poppins", sans-serif;

}
/* resetear los stilos del navegador
 */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 1rem;
    align-items: center;
}
.navbar-tittle{
 color: var(--white);
}
.header{
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--primary-color), #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--primary-color), #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
color: var(--white);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.header-title{
    text-align: center;
}
.header-subtitle{
    text-align: center;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 2rem;
    place-items: center;

}
.about-container-img{
    display: flex;
    height: 50vh;
    gap: 1rem;
}
.about-img{
    width: 25%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.about-img:nth-child(2){
position: relative;

top: 50px;

}
.about-tittle{
    color: black;
}